



.menugreen
{
    border-width: 3px;
    border-color: #003300;
    margin: 0px 0px 1px 0px;
    display: none;
    background: #336600;
    padding: 10px 0px 10px 15px;
    color: #FFFFFF !important;
    width: 95%;
    background-image: url('../images/menubtn.png');
    background-repeat: no-repeat;
    background-position: 94% 50%;
    border-bottom-style: solid;
}
.green {       
    list-style: none;
     *zoom: 1;
 background: #e2e2e2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMWMxYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e2e2e2 0%, #c1c1c1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2e2e2 0%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2e2e2 0%,#c1c1c1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2e2e2 0%,#c1c1c1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2e2e2 0%,#c1c1c1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-8 */

 border-bottom-style: solid; 
 border-bottom-width: 3px; 
 border-bottom-color: #006600; 
     }





.green:before,
.green:after {
    content: " "; 
    display: table; 
}
.green:after {
    clear: both;
}
.green ul
{
    list-style: none;
    width: 12em;
    -moz-box-shadow: 0 5px 6px -2px #333;
    -webkit-box-shadow: 0 5px 6px -2px #333;
    box-shadow: 0 5px 6px -2px #333;
  
  
}
.green a
{
    border-width: 1px;
    border-color: #C0C0C0;
    padding: 10px 25px 10px 10px; /* color: #000;*/
    border-right-style: inset;
    font-family: arial, Helvetica, sans-serif;
    line-height:140%;font-size: 15px;
    font-weight: normal;
    color: #000000;
}

.green li:hover
{
    background: rgb(33,112,0); /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */
    color: #FFFFFF;
    z-index: 99999;
}

.green li.active
{
    color: #FFFFFF !important;
    background: rgb(33,112,0); /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */
}
.active
{
    color: #FFFFFF;
}

.green a.first
{
    border-width: 1px;
    border-color: #C0C0C0;
    padding: 10px 20px 10px 20px;
    color: #000;
    background-image: none;
}

.green a.first:hover
{
    background-image: none;
}

.green a.middle
{
    border-width: 1px;
    border-color: #C0C0C0;
    padding: 10px 25px 10px 20px;
    color: #000;
    background-image: none;
}

.green a.middle:hover
{
    background-image: none;
}
.green a.last
{
    border-width: 1px;
    border-color: #C0C0C0;
    padding: 10px 20px 10px 20px;
    color: #000;
    border-right-style: none;
    background-image: none;
}

.green a.last:hover
{
    background-image: none;
}

.green li {
    position: relative;
}
.green > li
{
    float: left;
  /*  border-top: 1px solid #104336;*/
}
.green > li > .parent
{
    background-image: url('../images/downarrowblack.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

.green > li > .parent:hover
{
    background-image: url('../images/downarrow.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}


.green > li > a
{
    display: block;
    color: #000000;
}
.green > li > a:hover
{
    color: #FFFFFF;
}

.green > li > a.active
{
    color: #FFFFFF;
}




.green > li > a.active, .green > li:hover > a, .green > li > .parent:hover
{
    background-image: url('../images/downarrow.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
    color: #FFFFFF;
}

.green li  ul {
    position: absolute;
    left: -9999px; 
}


.green > li.hover > ul {
    left: 0;
  
}


.green > li.hover > ul > li > .parent
{
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}


.green li li.hover ul {
    left: 100%;
    top: 0;  
    
}


 .green > li:hover > ul > li:hover > a
{
     background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */


    
}

.green > li:hover > ul > li:hover > a.parent 
{
      background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}








.green li li a
{
    display: block;
    color: #FFFFFF;
    position: relative;
    z-index: 100;
    border-top: 1px solid #17175e;
    background: #005500;    
    border-top-color: #009900;
    border-top-style: solid;
}
.green li li a:hover
{
    color: #FFFFFF;
  background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */


}







.green li li li a
{
    z-index: 200;
    border-top: 1px solid #1d7a62;
    border-top-color: #009900;
    background: #2F5E00;
    left: 0px;
}



.green li li li a:hover
{
    
    background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */


        
}




@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .green > li {
        float: none;
    }
    
   
    .green ul {
        display: block;
        width: 100%;
    }
   .green > li.hover > ul , .green li li.hover ul {
        position: static;
    }   
    
    
    
    .green {          
    list-style: none;
     *zoom: 1;

 border-bottom-style: solid; 
 border-bottom-width: 3px; 
 border-bottom-color: #336600; 
 -moz-box-shadow: 0 2px 10px -2px #000;
-webkit-box-shadow: 0 2px 10px -2px #000;
box-shadow: 0 2px 10px -2px #000;
 
        }



.green a:hover
{
    color: #FFFFFF; 
    
    background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */

 
}


.green li:hover > a:hover
{
     color: #FFFFFF !important;  
   background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */


   
    
}




.green li:hover
{
   background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */


    color: #FFFFFF;  
    
}

.green li.active
{
     color: #FFFFFF !important;  
   background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */

   
    
}
 
    
    
    

   .green > li > a
    {
        border-style: none none dotted none;
        border-width: 1px;
        border-color: #666666;
        display: block;
        color: #FFFFFF;
    }   
    
    
    
 .green > li > .parent
    {
        background-image: url('../images/downarrowblack.png');
        background-repeat: no-repeat;
        background-position: 96% 50%;
        background-color: #E0E0E0;
        color: #000;
    }




.green > li:hover > .parent:hover
    {
        background-image: url('../images/downarrow.png');
        background-repeat: no-repeat;
        background-position: 96% 50%;
    }




.green > li > a.active, .green > li:hover > a, .green > li > .parent:hover
    {
        background-image: url('../images/downarrowblack.png');
        background-repeat: no-repeat;
        background-position: 96% 50%;
        color: #000;
        background-color: #808080;
    }

.green > li.active > a.active
{
    color: #FFFFFF !important;  
  background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */

   background-image: url('../images/downarrow.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;    
}



.green > li.active > a.first, 
.green > li.active > a.middle,
.green > li.active > a.last
{
    color: #FFFFFF !important;  
 background: rgb(33,112,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxNzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ3MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgb(33,112,0) 0%, rgb(17,71,5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(33,112,0)), color-stop(100%,rgb(17,71,5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(33,112,0) 0%,rgb(17,71,5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#217000', endColorstr='#114705',GradientType=0 ); /* IE6-8 */

  
}





.green > li > .parent:hover
    {
        background-image: url('../images/trianglewhite.png');
        background-repeat: no-repeat;
        background-position: 96% 50%;
    }
    
    
.green > li.hover > ul > li > .parent
{
    background-image: url('../images/trianglewhite.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}
    
.green > li:hover > ul > li:hover > a.parent 
{
      background-image: url('../images/trianglewhite.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

.green a.first
    {
        border-style: none none dotted none;
        border-width: 1px;
        border-color: #666666;
        padding: 10px 25px 10px 10px;
        color: #000;
        background-image: none;
    }

.green a.first:hover
{
    background-image: none;
}

.green a.middle
    {
        border-width: 1px;
        border-color: #808080;
        padding: 10px 20px 10px 10px;
        color: #000;
        background-image: none;
    }

.green a.middle:hover
{
    background-image: none;
}







.green a.last
    {
        border: 1px none #E8E8E8;
        padding: 10px 25px 10px 10px;
        color: #000;
        background-image: none;
    }

.green a.last:hover
{
    background-image: none;
}

.green > li:hover > a,.green > li > .parent:hover
{
    background-image: url('../images/downarrow.png');
    background-repeat: no-repeat;
    background-position: 96% 50%;    
    color: #FFFFFF;  
   
}

.active
{
    color: #fff;
}


.green > li > a
    {
        background-color: #E0E0E0;
    }

.green li li a
    {
        display: block;
        position: relative;
        z-index: 100;
        color: #FFFFFF;
        padding-left: 20px;
        padding-right: 0px;
        border-top: 1px solid #17175e;
        background: #005500;
        border-top-color: #009900;
        border-top-style: solid;
    }

.green li li li a
    {
        z-index: 200;
        border-top: 1px solid #1d7a62;
        border-top-color: #009900;
        background: #2F5E00;
        left: 0px;
        padding-left: 40px;
        padding-right: 0px;
    }

}
